body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Pantalla principal, titulo de los ejercicios*/
.cajaEjercicio{
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(209, 33, 33, 0.432);
}

.barraLateral{
  width: 3vw;
  height: 100%;
  background-color: rgba(255, 221, 209, 0.501);
  z-index:2;
}

.abrirCerrar{
  font-size: 40px;
  margin: 30px;
}

/* <span className="barraLateral"></span>
<h1 id='primerTitulo' onClick={() => { setEjTres(!ejTres) }}>Ejercicio Tres</h1>
<span className="abrirCerrar">{ejTres ? '+' : '-'}</span> */

/* Ejercicios */

.ejercicio{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}